@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* 
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 */


 .container {
  min-height: 80vh;
height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
}

.container>p,h1,span{
  color: var(--titulos);
}

h1{
  font-family: 'Poiret One', cursive;
}

.container>h3{
  color: var(--azul-claro);
 
}
.container>span{
  border-style: none;
  padding: 30px;
}