@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    text-align: center;
}

.titleProject{
    color: var(--amarelo);
  flex: 1 1 auto;
   align-items: center;
   justify-content: center;
}
.imgProject{
    align-items: center;
    justify-content: flex-start;
  
}
.containerCard{
    text-align: center;
   border: 2px solid var(--cinza-medio);
  
   border-radius: 7px;
    flex-direction: column;
    color: var(--cinza-claro);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
}

.card{
    background-color:  #0c0d14;
    text-align: left;
    border: 2px solid #0c0d14;
}
.spanCard{
    background-color: var(--dourado);
    border-style: none;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    line-height: 1.6;
}
.information{
    line-height: 1.8;
    text-align: left;  
}

.btnGit{
 cursor: pointer;  
background-color: transparent;
padding: 10px;
border: 2px solid var(--cinza-medio);
border-radius: 20px;
color: var(--azul-claro);
}
.linkGit{
    color: var(--azul-claro);
}

@media only screen and (max-width: 767px) {

    .containerCard{
        width: 20rem;
        padding: 6px;
    }
    .card{
        padding: 6px;
    }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {

    .containerCard{
        width: 30rem;
        padding: 8px;
    
    }
    .card{
        padding: 6px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
 
    .containerCard{
        width: 40rem;
        padding: 10px;
    }
    .card{
        padding: 8px;
    }
  }
  