header{
    background-repeat: no-repeat;
    background-position: center;
   }

   nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    line-height: 2.8rem;
 }


 nav:nth-child(3){
background-color: var(--fundo-menu);
border-bottom: 1px solid var(--borda-menu);
border-top: 1px solid var(--borda-menu);
 }
 ul{
     display: inline-block;
     text-align: center;
     cursor: pointer;
 }
 
 li{
     display: inline-block;
     color: var(--texto-menu);
   
 }
 li:nth-child(3) {
 border-right: 2px solid var(--borda-menu);
   }
  
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    text-align: center;
   }
   
   .red {
    background-color: var(--vermelho);
   }
   
   .yellow {
    background-color: var(--amarelo);
   }
   
   .green {
    background-color: var(--verde);
   }

.nomeDev{
color: #d5dee4;
display: flex;
text-align: center;
justify-content: center;
padding: 9px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  .link {
    padding: 13.3px 25px;
    border-right: 2px solid var(--borda-menu);
  
}
.highlightedLink{
    background-color: var(--cor-fundo);
    border-top: 1px solid var(--vermelho);
    border-bottom: 4px solid var(--cor-fundo);
    border-right: 2px solid var(--borda-menu);
}
.highlightedLink>li{
    color: var(--amarelo);
}

ul{
    border-style: none;
}
